.likes-container{
    background-color:white;
    padding:10px 20px;
    border-radius:10px;
    position:absolute;
    right:40px;
    top:20px;
    font-weight:bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.like-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}